<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- wirte.html -->

    <h4 class="container mt-4"><strong>글 작성 페이지</strong></h4>

    <div class="container mt-3">
        <!-- method : 정보를 어떤 형태로 전달할건지 지정 -->
        <form action="/test" method="POST">
            <div class="form-group">
                <label>제목</label>
                <input type="text" class="form-control" name="title">
            </div>

            <div class="form-group">
                <label>날짜</label>
                <input type="text" class="form-control" name="date">
            </div>
            <button type="submit" class="btn btn-outline-secondary">Submit</button>
        </form>
    </div>
</body>

</html>